<!--
  This is the main footer for the website. It is included on every page.

  It is very basic. It has some text and a link back to the home page of the
  site.

  It includes the google analytics template from /layouts/chrome/ga.html

  It also closes the <body> and <html> tags for each page.
-->

<div class="container content">
<footer>
  <div>
    <p class="right credit">
      Profile in: 
      <a href="http://www.github.com/zhangxiangxiao">Github</a> | 
      <a href="http://www.linkedin.com/in/zhangxiangxiao">LinkedIn</a> |
      <a href="https://plus.google.com/+XiangZhang0">Google Plus</a> | 
      <a href="http://www.facebook.com/zhangxiangxiao">Facebook</a>
    </p>
  </div>
</footer>
</div>

{{ template "chrome/ga.html" . }}

</body>
</html>
